* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Helvatica";
  src: url("../css/HelveticaNeue.ttc") format("truetype");
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Helvatica Neue";
  line-height: 1;
  font-weight: 400;
  color: #333;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
  align-items: center;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background: none;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn-full {
  background-color: #f93b1d;
  color: #fff;
}
.btn-full:hover,
.btn-full:active {
  background-color: #df3014;
}
.btn-outline {
  color: #df3014;
  background-color: #fff;
  border: 1.5px solid #f93b1d;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #f93b1d;
  color: #fff;
}
/***************************/
.btn-choose {
  padding: 0.5rem 1.1rem;
  align-self: end;
}
.btn-primary {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
}
.btn-secondary {
  font-size: 1rem;
  padding: 1rem 1.3rem;
}
.btn-filter:hover,
.btn-filter:active {
  background-color: #0215261e;
  padding: 0.3rem 0.8rem;
}

/*///////////////////////////*/
/*//////////////////////////*/
.filters-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem 2rem;
}
.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  border: 1px solid #999999b5;
  border-radius: 5px;
  padding: 1rem;
}

/****************************/
.logo {
  height: 1.9rem;
  margin: 2rem;
}
.header-border {
  border-bottom: 1px solid #999;
}
/*filter*/
.filter-detail-container {
  border: 1px solid #99999930;
  border-radius: 9px;
  width: 50rem;
  height: 25rem;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2rem;

  position: absolute;
  left: 10%;
  top: 35%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.regions-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
  accent-color: #1fde0d;
  margin-right: 0.3rem;
}
.regions-box label {
  font-size: 1.2rem;
  font-weight: 600;
}
.heading-filter {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.input-label-container {
  display: flex;
  gap: 0.3rem;
}

/***************************/
/*************************************/
.price-container {
  gap: 1.5rem;
  width: 25rem;
  height: 27rem;
  /*position: absolute;
  left: 10%;
  top: 15%;*/
}
.price-box {
  display: flex;
  gap: 6.5rem;
}
.price-box li {
  list-style: none;
  font-size: 1rem;
}
.price-box ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.price-userInput {
  display: flex;
  gap: 1.5rem;
}
.price-userInput input {
  width: 10rem;
  height: 3rem;
  border: 1px solid #999;
  border-radius: 0.5rem;
}
.price-userInput input::placeholder {
  font-size: 1.2rem;
}
/**************************************/
/*************************************/
.bedrooms-amount {
  border: 1px solid #999;
  align-self: flex-start;
  padding: 1.3rem;
  border-radius: 5px;
}
.bedrooms-amount span {
  font-size: 1.2rem;
}
/********************************/
/********************************/
.filteredInputs-container {
  display: flex;
  gap: 1.2rem;
  padding: 0 2rem;
}
.filtered-inputs {
  display: flex;
  gap: 1.2rem;
}
.filtered-item {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 0.7rem 1.2rem;
}
.filtered-item p {
  font-size: 1.5rem;
  font-weight: 500;
}
.close-icon {
  font-size: 2rem;
  font-weight: 500;
}
.btn-clear {
  font-size: 1.8rem;
  font-weight: 700;
}
/*/////////////////////////*/
/* listing Card*/
.listings-section {
  padding: 4.8rem 2rem 9.6rem;
}
.listings-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.listing-img {
  width: 100%;
  height: 25rem;
  border-radius: 9px;
  object-fit: cover;
}
.cards-content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  padding: 1.2rem 1.5rem 2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
}
.listing-detail-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.listing-description-container {
  display: flex;
  gap: 3rem;
}
.listing-price {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
}
.listing-detail {
  font-size: 1.8rem;
}
.listing-icon {
  font-size: 1.8rem;
}
/*//////////////////*/
/*Add Agent window*/
.add-agent-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 40rem;
  background-color: #fff;
  border-radius: 9px;

  padding: 5rem 4rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.heading {
  font-size: 2rem;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
  margin-bottom: 3rem;
}
.cta-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.8rem 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #999;
  border-radius: 5px;
}
.valid-inputs {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.3rem;
}
.btns-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
}
/*////////////////////////////////////////*/
/*  FORM VALIDATION  */
.not-valid {
  color: red;

}
.not-valid-input {
  border: 2px solid red;
}
.is-valid {
  color: green;
}
.is-valid-input {
  
}
